<div class="grid-container">
  <div class="d-flex justify-content-between">
    <h1 class="mat-h1">Items</h1>

    <mat-checkbox (change)="filter($event.checked)" color="primary">
      Show only with description
    </mat-checkbox>

    <button (click)="addItem()" class="mat-primary" mat-raised-button>
      Add item
    </button>
  </div>

  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let item of items$ | async"
      [colspan]="1"
      [rowspan]="1"
    >
      <mat-card class="dashboard-card">
        <mat-card-header [routerLink]="item.id.toString()">
          <mat-card-title>
            {{ item.title }}

            <button
              (click)="$event.stopPropagation()"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
              class="more-button"
              mat-icon-button
            >
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu" xPosition="before">
              <button (click)="editItem(item.id)" mat-menu-item>Edit</button>
              <button (click)="removeItem(item.id)" mat-menu-item>
                Remove
              </button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <div>{{ item.description }}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
