<h1 mat-dialog-title>Add item</h1>

<div mat-dialog-content>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Title</mat-label>
    <input [(ngModel)]="newItem.title" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Description</mat-label>
    <input [(ngModel)]="newItem.description" matInput />
  </mat-form-field>
</div>

<div class="d-flex justify-content-end" mat-dialog-actions>
  <button (click)="dialogRef.close()" mat-button>Close</button>
  <button
    (click)="save()"
    [disabled]="!newItem.title || !newItem.description"
    class="mat-primary"
    mat-button
  >
    Add
  </button>
</div>
